.CreditLinesSaveLeft{
    padding-left: 100px;
    vertical-align: top;
    width: calc(100% - 480px);
    padding-right: 40px;
}

.CreditLinesSaveRight{
    padding: 42px;
    vertical-align: top;
    width: 480px;
    background: linear-gradient(180deg, #F9FAFC 15.84%, #FFFFFF 68.86%);
    min-height: 600px;
}

.creditLinesTableTopItem4x{
    width: 25%;
}

.creditLinesTableTopItemLeft{
    padding-left: 20px;
    text-align: center;
}

.CreditLinesSaveRightTitle{
    width: 100%;
    margin-bottom: 24px;
    font-weight: 600;
    font-size: 24px;
    color: #131E40;
}

.savingAccountTableWrapper{
    width: 100%;
    height: 164px;
    overflow-y: scroll;
}