.creditLinesTabsLineSave{
    max-width: none;
}

.creditLinesSaveGrayPad{
    width: 100%;
    padding: 16px;
    text-align: left;
    background: #F4F6FA;
    border-radius: 4px;
    margin-top: 16px;
}

.creditLinesSaveGrayPadTitle{
    width: 100%;
    font-weight: 600;
    font-size: 17px;
    color: #4E3300;
    margin-bottom: 14px;
}

.creditLinesSaveGrayPadLine{
    width: 100%;
}

.creditLinesSaveGrayPadLineLeft{
    text-align: left;
    float: left;
    font-weight: 500;
    font-size: 14px;
    color: #212B4C;
}

.creditLinesSaveGrayPadLineRight{
    text-align: right;
    float: right;
    font-weight: 500;
    font-size: 16px;
    color: #212B4C;
}


.borrowPoolStepModalAmountSave{
    margin-top: 20px;
}

.creditLinesSaveDepositHint{
    margin-bottom: 7px;
    text-align: left;
    margin-top: 20px;
    width: 100%;
    font-weight: 500;
    font-size: 14px;
    color: #131E40;
}


.creditLinesSaveDepositDropdown{
    outline: none;
    font-family: 'Poppins', sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    height: 50px;
    background: #FFFFFF;
    line-height: 48px;

    border: 1px solid #ECF0F4;
    box-sizing: border-box;
    border-radius: 4px;

    font-weight: 500;
font-size: 16px;

color: #212B4C;
padding: 0 16px;
}


.creditLinesSaveDepositHint2{
    margin-top: 10px;
    font-weight: 500;
font-size: 14px;
color: #61709F;
}